<!DOCTYPE html>
<html>
<head>
	<title>New User</title>
</head>
<body>

	<h1>New User</h1>


	<form action="/users" method="POST">
		<input type="text" name="username" placeholder="Username"></input>
		<button type="submit">Submit</button>
	</form>

</body>
</html>